<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta property="og:title" content="Art by Mente Gee" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/favicon.png" />
  <meta property="og:url" content="http://imkreative.com/art" />
  <title>Art by Mente Gee</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
  <link rel="stylesheet" href="/css/art.global.styles.css">
  <link rel="stylesheet" href="/css/art.styles.css">
  <base href="/">
</head>

<body>
  <div id="app"></div>
  <script src="js/common.bundle.js"></script>
  <script src="js/art.bundle.js"></script>
</body>
</html>