$maincolor: #318297;
$secondarycolor: #5856A4;
$tertiarycolor: #9E603A;
$white: #EFEFEF;
$black: #121212;

$notmobile: "(min-width: 769px)";
$lg-desktop: "(min-width: 1521px)";
$desktop: "(min-width: 1131px) and (max-width: 1520px)";
$sm-desktop: "(min-width: 769px) and (max-width: 1130px)";
$mobile: "(min-width: 481px) and (max-width: 768px)";
$sm-mobile: "(max-width: 480px)";