<div class='c-widget'>
  <h3 class='c-widget__title'>Instagram</h3>
  {{!-- To generate new code for you account, please use http://instansive.com/ --}}
  <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/d85ff8d3b7da57d6a4c2af3aa2ae2600.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>
